*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header{
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

body{
    background-color: rgba(151, 151, 150, 0.993);
}

.klasa{
    color:white;
    text-decoration: none;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 600;
    margin-left: 40px;
    text-decoration: none;
}
.navbar a::before{
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}
.navbar a:hover:before{
    width:100%;
}